<h1>Edit bookmark</h1>

<form id="edit-bookmark" name="bookmark"  class="form-horizontal">
  <div class="control-group">
  <div class="field">
    <label for="url" class="control-label"> url:</label>
	<div class="controls">
    <input type="text" name="url" id="url" value="<%= url %>" class="text_field">
	</div>
  </div>
  <div class="field">
    <label for="tags" class="control-label"> tags:</label>
	<div class="controls">
    <input type="text" name="tags_str" id="tags_str" value="<%= tags_str %>"  class="text_field">
	</div>
  </div>
  </div>

  <div class="actions form-actions">
    <input type="submit" value="Update Bookmark" class="btn btn-primary"/>
    <a href="#/index" class="btn">Back</a>
  </div>

</form>

