<h1>Edit bookmark</h1>

<form id="edit-bookmark" name="bookmark">
  <div class="field">
    <label for="url"> url:</label>
    <input type="text" name="url" id="url" value="<%= url %>" >
  </div>
  <div class="field">
    <label for="tags"> tags:</label>
    <input type="text" name="tags_str" id="tags_str" value="<%= tags_str %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Update Bookmark" />
  </div>

</form>

<a href="#/index">Back</a>