<h1>Bookmarks</h1>

<br>
<form id="search_form" name="bookmarks">
	<form class="form-inline">
	  <div class="controls">
	    <div class="input-append">
	<input type="text" name="search" id="search_text" value="<%= ((typeof search == 'undefined')?'':search) %>" class="search-query" placeholder="Tag search"><button class="btn" type="button" id="search_button"><i class="icon-search"></i></button>

	    </div>
	  </div>
	</form>
</form>


<table id="bookmarks-table" class="table table-striped">
  <tr>
    <th>URL</th>
    <th>Tags</th>
    <th>Actions</th>
  </tr>
</table>

<br/>

<a href="#/new" class="btn btn-primary">New Bookmark</a>
