<h1>New bookmark</h1>

<form id="new-bookmark" name="bookmark" class="form-horizontal">
  <div class="field">
    <label for="url" class="control-label"> url:</label>
    <input type="text" name="url" id="url" value="<%= url %>"  class="text_field">
  </div>
  <div class="tags">
    <label for="tags" class="control-label"> tags:</label>
    <input type="text" name="tags_str" id="tags_str" value=""  class="text_field">
  </div>
  <div class="actions form-actions">
	<div id="busy"  style="display:inline-block; padding:0pt;">
    <input type="submit" id="submit_button" value="Create Bookmark" class="btn btn-primary"/>
	</div>
    <a href="#/index" class="btn">Back</a>
  </div>

</form>
