<h1>New bookmark</h1>

<form id="new-bookmark" name="bookmark">
  <div class="field">
    <label for="url"> url:</label>
    <input type="text" name="url" id="url" value="<%= url %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Bookmark" />
  </div>

</form>

<a href="#/index">Back</a>